@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
    --clr1: hsl(260, 8%, 14%);
    --clr2: hsl(255, 11%, 22%);
    --clr3: hsl(257, 27%, 26%);
    --clr4: hsl(180, 66%, 49%);
    --clr5: hsl(257, 7%, 63%);
    --clr6: hsl(0, 87%, 67%);
    --clr7: hsl(0, 0%, 75%);
}

html {
    font-size: 18px;
    &, input {
        font-family: 'Poppins', sans-serif;
    }
}

* {
    margin: 0;
    padding: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


a {
    color: var(--clr5);
    text-decoration: none;
    transition: 0.2s;
}

h2 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-inline: 2rem;
    img {
        margin-top: 0.5rem;
        height: 1.5rem;
        margin-right: 1rem;
    }
    #menu {
        display: none;
    }
    ul {
        width: 100%;
        list-style: none;
    }
    ul li ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1rem;
        li:nth-of-type(3) {
            margin-right: auto;
        }
        a {
            font-size: 0.75rem;
            &:hover {
                color: var(--clr1);
            }
        }
    }
}

.flex-row {
    display: flex;
}

p {
    color: var(--clr5);
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.btn {
    display: block;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    color: white;
    background-color: var(--clr4);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        background-color: hsl(180, 26%, 75%);
        color: white;
    }
}

section {
    padding-inline: 2rem;
}

main {
    
    #top-sec {
        margin-block: 2rem;
        gap: 2rem;
        justify-content: space-evenly;
        align-items: center;
        .l-div {
            flex-direction: column;
            justify-content: center;
            padding: 2rem;
            h1 {
                font-size: 2rem;
                font-weight: 700;
                line-height: 2.5rem;
            }
        }

        img {
            width: 100%;
        }
    }

    #shortening-sec {
        margin-top: 3rem;
        background: linear-gradient(white 0 50%,hsl(257, 100%, 96%) 50% 100%);
        .flex-row {
            margin-inline: 3rem;
            background: url(./images/bg-shorten-desktop.svg),
                        var(--clr3);
            padding: 2rem;
            gap: 0.75rem;
            border-radius: 0.5rem;
            border: none;
            .btn {
                border-radius: 0.25rem;
                width: max-content;
                width: 8rem;
            }
            
            input[type="link"] {
                padding: 0.5rem 0.75rem;
                border-radius: 0.5rem;
                box-sizing: border-box;
                width: 100%;
            }
        }
    }

    #stat-sec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: hsl(257, 100%, 96%);
        padding-block: 5rem;
        p {
            text-align: center;
            line-height: 1.4rem;
            width: 60%;
        }
        .flex-row {
            margin-top: 2rem;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            .card {
                position: relative;
                background-color: white;
                border-radius: 0.5rem;
                padding: 2rem;
                padding-top: 4rem;
                z-index: 3;
                h4 {
                    text-align: left;
                    margin-bottom: 1rem;
                }
                p {
                    font-size: 0.8rem;
                    line-height: 1rem;
                    width: 100%;
                    text-align: left;
                }
                &:before {
                    display: grid; place-items: center;
                    background-color: var(--clr3);
                    border-radius: 50%;
                    width: 3rem;
                    aspect-ratio: 1;
                    position: absolute;
                    background-size: cover;
                    padding: 1rem;
                    top: 0;
                    transform: translate(0, -50%);
                }
                &:nth-of-type(1) {
                    margin-top: -5rem;
                    &:before {
                        content: url(./images/icon-brand-recognition.svg);
                    }
                }
                &:nth-of-type(2) {
                    &:before {
                        content: url(./images/icon-detailed-records.svg);
                    }
                }
                &:nth-of-type(3) {
                    margin-top: 5rem;
                    &:before {
                        content: url(./images/icon-fully-customizable.svg);
                    }
                }
            }
            &:after {
                        content: "";
                        position: absolute;
                        width: 60%;
                        height: 0.5rem;
                        left: 20%;
                        background: var(--clr4);
                    }
        }
    }

    #boost-sec {
        background: url(./images/bg-boost-desktop.svg),
                    var(--clr3);
        background-size: cover;
        padding: 3rem;
        gap: 1rem;
        display: flex; flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            color: white;
        }
    }
}

footer {
    a:hover {
        color: white;
    }
    padding: 3rem;
    gap: 2rem;
    justify-content: space-evenly;
    align-items:start;
    background: var(--clr1);
    color: white;
    flex-wrap: wrap;
    & > img {
        filter: brightness(100);
        margin-right: 8rem;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        li {
            font-weight: 500;
            color: var(--clr7);
            &:nth-of-type(1) {
                color: white;
                font-weight: 700;
                margin-bottom: 1rem;
            }
        }
    }
    #soc-media {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
        gap: 1.5rem;
    }
}


@media (max-width:950px) {
    #stat-sec {
        .flex-row {
            position: relative;
            flex-direction: column;
            gap: 4rem !important;
            &::after {
                height: 100% !important;
                width: 0.5rem !important;
                left: 50% !important;
                top: 0%;
                transform: translate(-50%, 0) !important;
            }
        }
        .card {
            margin-top: 0 !important;
            p,h4 {
                text-align: center !important;
            }
            &::before {
                left: 50%;
                transform: translate(-50%,-50%) !important;
            }
        }
    }
}

@media (max-width: 850px) {
    footer {
        & > img {
            margin: auto;
        }
    }
}

@media (max-width: 750px) {
    #top-sec {
            flex-direction: column-reverse !important;
            .l-div {
                h1, p {
                    text-align: center;
                }
                input {
                    margin: 0 auto;
                }
            }
    }
    #shortening-sec {
        .flex-row {
            margin-inline: 0rem !important;
        }
    }
    footer {
        flex-direction: column;
    }
}

@media (max-width: 650px) {
    header {
        nav {
            & > ul {
                display: flex;
                justify-content: end;
                width: fit-content;
                #menu {
                    display: block;
                    padding: 1rem;
                }
                &:focus-within, &:hover {
                    .sub-menu {
                        display: flex;
                    }
                }
            }
            ul li ul {
                display: none;
                li:nth-of-type(3) {
                    margin-right: inherit !important;
                }
                li {
                    text-align: center;
                    width: fit-content;
                }
                
                a {
                    background-color: var(--clr3);
                    color: white;
                    margin-inline: 1rem;
                }

                top: 5rem;
                width: 80%;
                left: 10%;
                position: absolute;
                border-radius: 0.5rem;
                padding-block: 1.5rem;
                background-color: var(--clr3);
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }

    #shortening-sec {
        padding-inline: 0.5rem !important;
        .flex-row {
            padding: 1rem !important;
            flex-direction: column;
            padding-inline: 1rem !important;
            .btn {
                width: 100% !important;
            }
        }
    }

    #history {
        div {
            flex-direction: column !important;
            align-items: start !important;
            gap: 0.5rem;
            .old-link {
                margin-right: inherit !important;
            }
            .btn {
                width: 100%;
                box-sizing: border-box;
                margin: 0;
            }
        }
    }
}

#history {
    padding: 1rem;
    background-color: hsl(257, 100%, 96%);
    div {
        .old-link {
            margin-right: auto;
        }
        .new-link {
            color: var(--clr4)
        }
        input {
            margin-left: 1rem;
            margin-right: 0.5rem;
            border-radius: 0.25rem;
        }
        color: var(--clr1);
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: white;
        justify-content: right;
        align-items: center;
        margin-block: 1rem;
    }
}

.error {
    animation: splash 0.4s ease-in-out;
}

@keyframes splash {
    from, to {
        outline: none;
        box-shadow: none;
    }
    50% {
        outline: 1px solid var(--clr6);
        box-shadow: 0 0 5px 3px var(--clr6);
    }
}